{% load i18n %}

<div class="row">
  <div class="col-md-offset-1 col-md-10 title-container">
    <h1>{% trans 'Booked Trades' %}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <a class="btn btn-primary pull-right" href="/new_trade">{% trans 'New Trade' %}</a>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <table class="table table-striped" id="table_trades">
    <thead>
      <tr>
        <th>{% trans 'Sell CCY' %}</th>
        <th>{% trans 'Sell Amount' %}</th>
        <th>{% trans 'Buy CCY' %}</th>
        <th>{% trans 'Buy Amount' %}</th>
        <th>{% trans 'Rate' %}</th>
        <th>{% trans 'Date Booked' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trade in trades">
        <td ng-bind="trade.sell_currency"></td>
        <td ng-bind="trade.sell_amount|currency:''"></td>
        <td ng-bind="trade.buy_currency"></td>
        <td ng-bind="trade.buy_amount|currency:''"></td>
        <td ng-bind="trade.rate"></td>
        <td ng-bind="trade.date_booked|date:'dd/MM/yyyy HH:mm'"></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
