{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html ng-app="ForexApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% trans "Foreign Exchanges Trades" %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style media="screen">
    .title-container {
      border-bottom: 2px solid black;
      margin-bottom: 2%;
    }
    #table_trades {
      margin-top: 2%;
    }
    #table_trades td,
    #table_trades th {
      text-align: center;
    }
    input[readonly] {
      background-color: lightgray;
    }
  </style>
</head>
<body>
<div class="container-fluid" ng-view></div>

<script src="{% static 'js/angular.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/angular-route.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/angular-resource.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/app.js' %}" charset="utf-8"></script>
<script src="{% static 'js/controllers.js' %}" charset="utf-8"></script>
<script type="text/javascript">
var templateListTrades = '{% url "ListTradesAngularTemplateView" %}';
var templateNewTrade = '{% url "NewTradeAngularTemplateView" %}';
var urlTradesEndpoint = '{% url "TradeListCreateApiView" %}';
var urlGetRateEndpoint = '{% url "GetRateApiView" %}';
var currenciesJson = {{ currencies_json|safe }};
</script>
</body>
</html>
