{% load i18n %}

<form method="post" name="newTradeForm">
<div class="row">
  <div class="col-md-offset-1 col-md-10 title-container">
    <h1>{% trans 'New Trade' %}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-3">
    <div class="form-group">
      <label for="id_sell_currency">{% trans 'Sell Currency' %}</label>
      <select class="form-control" id="id_sell_currency"
              ng-model="sellCurrency" ng-change="retrieveRate()">
        <option value="" selected>&mdash;</option>
        <option ng-repeat="currency in currencies"
                ng-bind="currency.code"
                value="{% verbatim %}{{ currency.id }}{% endverbatim %}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_sell_amount">{% trans 'Sell Amount' %}</label>
      <input type="number" class="form-control" id="id_sell_amount"
             name="sell_amount" ng-model="sellAmount" step="0.01">
      <div class ="row-fluid alert alert-danger" ng-if="!newTradeForm.sell_amount.$valid">
        {% trans "<strong>Sell amount not valid</strong>. You must specify a maximum of 2 decimal places." %}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row-fluid">
      <div class="col-md-12 text-center">
        <strong>{% trans 'Rate' %}</strong>
        <input type="hidden" id="id_rate" ng-model="rate">
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-4 text-center">
        <span class="glyphicon glyphicon-play"></span>
      </div>
      <div class="col-md-4 text-center" ng-bind="rate || '&mdash;'"></div>
      <div class="col-md-4 text-center">
        <span class="glyphicon glyphicon-play"></span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label for="id_buy_currency">{% trans 'Buy Currency' %}</label>
      <select class="form-control" id="id_buy_currency"
              ng-model="buyCurrency" ng-change="retrieveRate()">
        <option value="" selected>&mdash;</option>
        <option ng-repeat="currency in currencies"
                ng-bind="currency.code"
                value="{% verbatim %}{{ currency.id }}{% endverbatim %}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_buy_amount">{% trans 'Buy Amount' %}</label>
      <input type="text" class="form-control" id="id_buy_amount"
             ng-model="buyAmount" readonly>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <button class="btn btn-primary" ng-click="createTrade()"
            ng-disabled="!buyAmount">
      {% trans 'Create' %}
    </button>
    <a class="btn btn-default pull-right" href="/">
      {% trans 'Cancel' %}
    </a>
  </div>
</div>
</form>
